
#cv {
  position: relative;
  margin-left: 10%;
  border: #ffffff solid 1.5px;
  border-radius: 8px;
  transition: transform 0.3s, margin 0.3s;
  margin-bottom: 30px;
}

#cv:hover {
  transform: scale(150%);
  transition: transform 0.3s, margin 0.3s;
  margin-left: 120px;
  margin-top: 140px;
  margin-bottom: 160px;

  border: 1px solid white;
}

#divContact {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#titleContact {
  color: #ffffff;

  /* text-decoration: underline;
  text-underline-offset: 5px; */
  text-decoration-skip-ink: auto;
}

#linkContact {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 5px;
  margin-bottom: 5px;


  color: #ffffff;
  background-color:  rgb(67, 0, 57);

  width: 300px;
  height: 40px;
  
  border: 2px #200124 solid;
  border-radius: 8px;

  transition: background-color 0.3s;
}

#linkContact:hover {
  background-color:  rgb(172, 20, 149);

  transition: background-color 0.3s;
}

#cvDownload {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;

  height: 40px;
  width: 295px;

  color: #ffffff;
  background-color:  rgb(67, 0, 57);

  border: 2px #200124 solid;
  border-radius: 8px;

  transition: background-color 0.3s;
}

#cvDownload:hover {
  background-color: rgb(172, 20, 149);

  transition: background-color 0.3s;
}

#hrContact{
  position: relative;
  top: -12px;
  border-top: 1px solid ;
}



  /* width: 400px;
  height: 500px;
  background-image: url("../bf.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed; */