html{
  zoom: 150%;
  background-color: rgb(0, 0, 0);
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
.container {
  display: flex;
  height: 80px;
  border: 1px solid #000000;
  background-color: #030046;
}

.all {
  display: flex;
  padding: 15px;
}

.box {
  align-items: ;
  background-color: #030046;
  border: 0px solid #000000;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  transition: background-color 0.1s, transform 0.1s, color 0.1s;
}

.h:hover {
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
  align-self: first baseline;
  border: 1px solid #000000;
  background-color: #013267;
  transform: scale(125%);
  align-self: first baseline;
}


/* HOME */

#presentation {
  text-align: center;
}

#autreProjet {
  text-align: center;
  display: flex;
}

#homeProjet {
  width: 50px;
  height: 50px;
}



/* CONTACT */

#cv {
  margin-left: 10%;
  border: #000000 solid;
  border-radius: 1%;
  box-sizing: 8px;
  transition: transform 0.2s, margin 0.3s;
  margin-bottom: 5%;
}

#cv:hover {
  transform: scale(150%);
  transition: transform 0.2s, margin 0.3s;
  margin-left: 12%;
  margin-top: 15%;
  margin-bottom: 20%;

}

#divContact {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#divbtnContact {


}

#linkContact {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 5px;
  margin-bottom: 5px;

  background-color: rgb(0, 50, 42);

  width: 100px;
  height: 60px;
  
  border: #000000 solid;
  border-radius: 10%;
}

#cvDownload {
  text-align: center;
  margin-top: 50px;
  background-color: rgb(14, 82, 14);
  border: #000000 solid;
}




  /* width: 400px;
  height: 500px;
  background-image: url("../bf.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed; */